export(mwlSource)
export(mixSource)
export(mwl)
export(iso)
export(wiDB_sites)
export(wiDB_data)
export(wiDB_values)
importFrom(httr, GET, content)
importFrom(jsonlite, fromJSON)
importFrom(doParallel, registerDoParallel, stopImplicitCluster)
importFrom(foreach, foreach, "%dopar%")
importFrom(R2jags, jags)
importFrom(R2WinBUGS, monitor)
importFrom(stats, sd, var)
importFrom(graphics, abline, lines, par, points)
importFrom(abind, abind)
importFrom(utils, read.csv, unzip)